.students-table-container{


    margin:0 40px 40px;

    background:white;

    border-radius:12px;

    overflow-x:auto;

    box-shadow:0 10px 25px rgba(0,0,0,.05);

}



table{


    width:100%;

    min-width:900px;

    border-collapse:collapse;

}



thead{


    background:#0f0b6c;

    color:white;

}



th{


    padding:18px;

    text-align:left;

    font-size:14px;

    background:#221e4cc4;

}



td{


    padding:18px;

    border-bottom:1px solid #e5e7eb;

    color:#144806ac;

}



tbody tr:hover{


    background:#f8fafc;

}





/* Status Badge */


.status{


    padding:6px 14px;

    border-radius:20px;

    font-size:13px;

    font-weight:600;

    display:inline-block;

}



.verified{


    background:#dcfce7;

    color:#15803d;

}



.pending{


    background:#fef3c7;

    color:#b45309;

}





/* View Button */


.view-btn{


    padding:7px 15px;

    border:none;

    border-radius:8px;

    background:#2563eb;

    color:white;

    cursor:pointer;

    transition:.2s;

}



.view-btn:hover{


    background:#1d4ed8;

}





/* Approve Button */


.approve-btn {


    margin-left:10px;

    padding:8px 14px;

    border:none;

    border-radius:6px;

    background:#16a34a;

    color:white;

    cursor:pointer;

    transition:.2s;

}



.approve-btn:hover {


    opacity:0.9;

}






/* ==========================
   Tablet Responsive
========================== */


@media(max-width:900px){


    .students-table-container{


        margin:0 20px 30px;

    }


    th,
    td{


        padding:14px;

        font-size:14px;

    }


}


.action-icons{

    display:flex;

    gap:10px;

    align-items:center;

}



.icon-btn{


    width:35px;

    height:35px;

    border:none;

    border-radius:50%;

    display:flex;

    align-items:center;

    justify-content:center;

    cursor:pointer;

    color:white;

    transition:0.2s;

}



.icon-btn:hover{

    transform:translateY(-2px);

}



/* View */

.icon-btn.view{

    background:#2563eb;

}



/* Approve */

.icon-btn.approve{

    background:#16a34a;

}



/* Delete */

.icon-btn.delete{

    background:#dc2626;

}



.icon-btn svg{

    font-size:15px;

}



/* Responsive */

@media(max-width:600px){


    .action-icons{

        gap:6px;

    }


    .icon-btn{


        width:30px;

        height:30px;

    }


    .icon-btn svg{

        font-size:12px;

    }


}



/* ==========================
   Mobile Responsive
========================== */


@media(max-width:600px){


    .students-table-container{


        margin:0 10px 25px;

        border-radius:10px;

    }



    table{


        min-width:750px;

    }



    th{


        font-size:13px;

        padding:12px;

    }



    td{


        padding:12px;

        font-size:13px;

    }



}